---

title: Høiland's blog

layout: 'base.njk'

---
     
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">Velkommen til bloggen min!</h1>
        <p>
          Jeg bruker denne plassen til å dokumentere eventyrene i min hverdag.
        </p>
        <p>Nedenfor er noen av mine favorittartikler, eller du kan gå til bloggsiden for å se mine siste innlegg. 
        </p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Utvalgte artikler</a>
          <a href="./blog" class="btn btn--neutral">De nyeste artiklene</a>
        </div>
      </div>
      <div>
        <img src="//unsplash.it/510" alt="" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Utvalgte artikler</h2>
    <p class="text-center">Her er et utvalg av artikler som jeg føler gir deg en god idé om hva denne siden handler om.</p>
    <ul role="list" class="articles__list flow">

      {%- for post in collections.featured | reverse -%}
        {% include 'article-snippet.njk' %}
      {%- endfor -%}

    </ul>
  </div>
</section> 

